 ::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }

  .dark-theme {
    background-color: #28323e;
  }

  .light-theme {
    background-color: whitesmoke;
  }

  h1, h2 {
    color: white;
  }

  .white-font {
    color: whitesmoke;
  }

  .space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .single-cell {
    width: 20%;
    word-break:break-all;
    padding-right: 10px;
  }

  .last-cell {
    height: 48px;
    margin-top: 10px;
  }

  .min-width {
    min-width: 800px;
  }