<div class="container">
    <div class="login-template"> 
        <h1 class="" >Login to client dashboard</h1>            
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
            <div class="mb-3">
                <label for="InputEmail">Enter your email</label>
                <input formControlName="email" type="email" class="form-control" id="InputEmail" placeholder="Email">                        
            </div>
            <div class="mb-3">
                <label for="InputPassword">Enter your password</label>
                <input formControlName="password" type="password" class="form-control" id="InputPassword" placeholder="Password">
            </div>
            <div class="modal-footer">                
                <button type="submit"  class="btn btn-success">Login</button> 
            </div>
        </form>
    </div>
</div>
