.login-template {
    border: 3px solid #28323e;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 35px;
    position: absolute;
    width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}